h2 {
    text-align: center;
    margin-top: 3%;
  }
  
  .list {
    margin: 3% auto;
    width: 90%;
  }
  
  .create-button {
    text-align: center;
  }

  tr.mat-row:hover {
    background-color: #f0f0f0;
  }

  .column {
    text-align: center;
  }
  
  .search-container {
    margin-left: 3%;
    margin-right: 3%;
  }

  .search-input {
    width: 100%;
  }
  
  .table-row-hover:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }.rows:hover {
    background-color: #f0f0f0;
  }