h2 {
  text-align: center;
  margin-top: 3%;
}

.form {
  text-align: center;
  margin: 3% auto;
  background-color: #fff;
  width: 20%;
  padding: 1%;
  padding-top: 2%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.cancel-button button {
  background-color: #D8D8D8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-button button:hover {
  background-color: #458BA0;
}

.edit-button button {
  background-color: #D8D8D8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.edit-button button:hover {
  background-color: #45a049;
}

.buttons {
  display: flex;
  justify-content: center;
}