<h2>Création d'une catégorie</h2>

<div class="form">
    <form (ngSubmit)="onSubmit(categoryForm)" #categoryForm="ngForm">
        <div>
            <mat-form-field>
            <mat-label>Nom de la catégorie</mat-label>
            <input matInput name="name" required [(ngModel)]="category.name">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
              <mat-label>Sélectionner un ou plusieurs produits</mat-label>
              <mat-select name="products" [(ngModel)]="category.products" multiple>
                <mat-option *ngFor="let product of products" [value]="product">{{ product.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        <div class="buttons">
            <mat-dialog-actions class="center-content">
                <button mat-icon-button color="primary" (click)="goBack(categoryForm)">
                    <mat-icon>keyboard_return</mat-icon>
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-dialog-actions>
        </div>
    </form>
</div>

