h2 {
    text-align: center;
    margin: 3%;
}

.product-container {
    display: flex;
  }
  
  .product-details {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .product-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .detail-item {
    margin-bottom: 10px;
  }
  
  .detail-label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .detail-value {
    margin: 0;
  }
  
  
  .list {
    width: 70%;
  }
  
  .create-button {
    text-align: center;
  }

  tr.mat-row:hover {
    background-color: #f0f0f0;
  }

  .column {
    text-align: center;
  }
  
  .search-container {
    margin-left: 3%;
    margin-right: 3%;
  }

  .search-input {
    width: 100%;
  }
  