h2 {
  text-align: center;
  margin: 1%;
}

.product-container {
  display: flex;
}

.product-details {
  width: 30%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-right: 1%;
  margin-left: 1%;
  background-color: #fff;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail-item {
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
  margin-right: 5px;
}

.detail-value {
  margin: 0;
}


.list {
  margin-right: 1%;
  width: 80%;
  padding: 2%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.column {
  text-align: center;
}

.search-container {
  margin-left: 3%;
  margin-right: 3%;
  flex: 1;
}

.search-input {
  width: 100%;
}

.table-row-hover:hover {
  background-color: #45a049;
  cursor: pointer;
}.rows:hover {
  background-color: #45a049;
}

.pagination {
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

mat-paginator {
  background-color: #f7f7f7;
}

.header {
  display: flex;
}

.create-button {
  text-align: center;
}

.create-button button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-button button:hover {
  background-color: #45a049;
}