<h2>Liste des produits</h2>

<div class="list">

  <div class="header">
    <div class="create-button">
      <button mat-icon-button color="primary" (click)="createProduct()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="search-container">
      <mat-form-field class="search-input">
        <input matInput type="text" placeholder="Rechercher un produit" [(ngModel)]="search" (input)="filterProducts()">
      </mat-form-field>
    </div>
  </div>

  <table mat-table [dataSource]="products">

    <div class="column">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef (click)="sort('name')">
          <span>Nom</span>
          <span *ngIf="sortBy === 'name'">
            <mat-icon *ngIf="sortOrder === 'asc'">arrow_upward</mat-icon>
            <mat-icon *ngIf="sortOrder === 'desc'">arrow_downward</mat-icon>
          </span>
        </th>
        <td mat-cell *matCellDef="let product">{{ product.name }}</td>
      </ng-container>
    </div>

    <div class="column">
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef (click)="sort('price')">
          <span>Prix</span>
          <span *ngIf="sortBy === 'price'">
            <mat-icon *ngIf="sortOrder === 'asc'">arrow_upward</mat-icon>
            <mat-icon *ngIf="sortOrder === 'desc'">arrow_downward</mat-icon>
          </span>
        </th>
        <td mat-cell *matCellDef="let product">{{ product.price }} €</td>
      </ng-container>
    </div>

    <div class="column">
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let product">{{ product.description }}</td>
      </ng-container>
    </div>

    <div class="column">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let product">
          <div class="buttons">
            <div class="edit-button">
              <button mat-icon-button color="primary" (click)="editProduct(product)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="delete-button">
              <button mat-icon-button color="warn" (click)="deleteProduct(product)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="['name', 'price', 'description', 'actions']"></tr>
    <tr mat-row *matRowDef="let product; columns: ['name', 'price', 'description', 'actions']"
      [routerLink]="['/products', product.id]" [ngClass]="'table-row-hover'">
    </tr>
  </table>
  </div>

  <div class="pagination">
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="goToPage($event.pageIndex, $event.pageSize)"></mat-paginator>
  </div>